<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newsMapper">
   
   <!-- 뉴스 작성 -->
   <insert id="insert">
   	   insert into news(news_index,news_title,news_contents,news_category,news_url) 
   values (NEWS_INDEX_SEQ.nextval,#{news_title},#{news_contents},#{news_category},#{news_url});
   	
   </insert>
	
	<!-- 상세보기 -->
	<select id="detail" parameterType="int" resultType="kr.co.summary.domain.NewsVO">
		select news_index,news_title,news_contents,news_summary,news_keyword,news_company,news_count,news_date,news_url,
		news_category,news_image
		from news where news_index = #{news_index}
	
	</select>
	
	<!-- 카테고리별 뉴스 가져오기 -->
	<select id="category" resultType="kr.co.summary.domain.NewsVO">
		select * from
		(select rownum as rnum, n.* 
		from news n where news_category = #{news_category} 
		order by n.news_index desc)
		where rnum between #{displayPost} and #{displayPostEnd}
	</select>
   
  
   <!-- 페이지네이션 -->
   <select id="listpage" resultType="kr.co.summary.domain.NewsVO" parameterType="kr.co.summary.domain.Criteria">
   
		  select news_index,news_title,news_contents,news_date,news_count,news_category,news_image,news_url,news_company,news_keyword
	from( select news_index,news_title,news_contents,news_date,news_count,news_category,news_image,news_url,news_company,news_keyword,
	row_number() over(order by news_index desc) as rNum from news 
	where 1=1<include refid="search"></include>
	)ns
	where rNum between #{rowStart} and #{rowEnd} order by news_index desc
   </select>
   
   <!-- 게시물개수 -->
   <select id="listCount" resultType="int">
   select count(news_index) from news where 1=1<include refid="search"></include> and news_index > 0
   
   </select>
   
   <sql id="search">
   		<if test="searchType != null">
   			<if test="searchType == 't'.toString()">and news_title like '%' || #{keyword} || '%'</if>
   			<if test="searchType == 'c'.toString()">and news_contents like '%' || #{keyword} || '%'</if>
   			
   		</if>
   
   </sql>
   
   <select id="newsAjaxList" resultType="kr.co.summary.domain.NewsVO">
   	select * from news where news_category ='사회'
   
   </select>
   
   <update id="plusCnt" parameterType="int">
 	 UPDATE news SET news_count = news_count + 1 WHERE news_index = #{news_index}
	</update>
	
   <select id="categoryCount" resultType="int">
   		select count(news_index) from news where news_category = #{news_category}   
   </select>
   
   <select id="detailViewStatistics" resultType="kr.co.summary.domain.MemberVO">
   		select * from member where member_id = #{member_id}  
   </select>

	 <insert id="StatisticsUpdate">
   		insert into member(statistics_index ,member_age_range, member_gender, news_keyword)
		values(STATISTICS_INDEX_SEQ.nextval,#{membervo_age_range},#{membervo_gender},#{news_keyword})
   	</insert>
   	
   	
   	<select id="selectCategory" resultType="kr.co.summary.domain.NewsVO">  		
   	select * from
	(select rownum as rnum, n.* 
	from news n where news_category = #{news_category}
	order by n.news_index desc)
	where rnum between 1 and 8
   	
   	</select>
   	
    <!-- 높은조회수 최신순으로 가져오기 -->
   	<select id="countStatistics" resultType="kr.co.summary.domain.NewsVO">  		
   	select * from
	(select rownum as snum, s.* from
	(select rownum as rnum, n.* from(select s.* from news s order by news_index desc) n order by n.news_count desc) s)
	where snum between 1 and 5
   	</select>
   	   	
   	<select id="countStatisticmaleUp" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_gender = '남자' group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5
   	</select>
   	<select id="countStatisticmaleDown" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_gender = '남자' group by news_keyword order by cnt desc) s)
	where rnum between 6 and 10 	
   	</select>
   	<select id="countStatisticfemaleUp" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_gender = '여자' group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5
   	</select>
   	<select id="countStatisticfemaleDown" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_gender = '여자' group by news_keyword order by cnt desc) s)
	where rnum between 6 and 10
   	</select>
   	<select id="countStatistic20" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_age_range = '20대이하' group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5 	
   	</select>
   	<select id="countStatistic30" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_age_range = '30대' group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5 	
   	</select>
   	<select id="countStatistic40" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_age_range = '40대' group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5 	
   	</select>
   	<select id="countStatistic50" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_age_range = '50대' group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5	
   	</select>
   	<select id="countStatistic60" resultType="kr.co.summary.domain.StatisticsVO">
   	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	where member_age_range = '60대이상' group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5  	
   	</select>
   	<select id="countStatistictotalUp" resultType="kr.co.summary.domain.StatisticsVO">
	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	group by news_keyword order by cnt desc) s)
	where rnum between 1 and 5
   	</select>
   	<select id="countStatistictotalDown" resultType="kr.co.summary.domain.StatisticsVO">
	select * from
	(select rownum as rnum, s.* from
	(select news_keyword ,count(*) cnt from statistics
	group by news_keyword order by cnt desc) s)
	where rnum between 6 and 10
   	</select>
   	
   	<select id="categoryStatistictitle" resultType="kr.co.summary.domain.NewsVO">
		select * from
		(select rownum as bnum, b.* from
		(select rownum as snum, s.* from
		(select rownum as rnum, n.* from
		(select s.* from news s order by news_index desc
		) n order by n.news_count desc
		) s
		) b where news_category = #{news_category}
		)where bnum between 1 and 5
   	</select>
   	
   	<select id="categoryStatisticUp" resultType="kr.co.summary.domain.StatisticsVO">
		select * from
		(select rownum as rnum, s.* from
		(select news_keyword ,count(*) cnt from statistics
		where news_category = #{news_category} group by news_keyword order by cnt desc) s)
		where rnum between 1 and 5
   	</select>
   	
   	<select id="categoryStatisticDown" resultType="kr.co.summary.domain.StatisticsVO">
		select * from
		(select rownum as rnum, s.* from
		(select news_keyword ,count(*) cnt from statistics
		where news_category = #{news_category} group by news_keyword order by cnt desc) s)
		where rnum between 6 and 10
   	</select>
   	
</mapper>